.nav {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float: left;
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
ul.nav a:hover {
    background-color: gray;
    color: lightblue;
}



body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgb(190, 216, 238);
  text-align: center;
  padding: 10px;
}

.nav-menu {
  grid-row: 1;
  grid-column: 1/ span 3;
}

.main-img {
  grid-row: 2;
  grid-column:1 /span 3;
  background-color: rgb(205, 222, 237);
}

.image1 {
  max-height: 400px;
}

.main1 {
  grid-row: 3;
  grid-column:1 /span 2;
  padding: 30px;
}

.main2 {
  grid-row: 5;
  grid-column:1 /span 2;
  padding: 30px;
}

.sidecontent {
  grid-column: 3;
  grid-row: 3 / span 3;
  padding: 30px;
  background-color: rgb(156, 192, 222);
}

.support1{
  grid-column: 1;
  grid-row: 4;
  padding: 30px;
  background-color: rgb(173, 202, 226);
}

.support2{
  grid-column: 2;
  grid-row: 4;
  padding: 30px;
  background-color: rgb(173, 202, 226);
}


.footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:rgb(126, 162, 193);
  color:black;
  text-align:center
}

hr{
  height: 2px;
  width: 150px;
  border: none;
  background-color: rgb(39, 65, 88);
}